<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles-container">
  <div class="articles-main">
    <app-big-card
    bigCardImageImg="https://static.wixstatic.com/media/641baf_a9740d232b034d7692895ff5e06944ef~mv2.png/v1/fill/w_640,h_360,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/641baf_a9740d232b034d7692895ff5e06944ef~mv2.png"
    bigCardTitle="Pintura de Van Gogh, roubada de museu, será restaurada."
    bigCardDescription = "Uma pintura de Vincent van Gogh foi roubada do museu holandês, Singer Laren, em 2020 e resgatada na última segunda-feira, 11."
    >
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
